In [1]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import os, gc
import pickle
import datetime, time
from tqdm import tqdm_notebook as tqdm


from sklearn import preprocessing

%matplotlib inline

In [2]:
def preprocessing(train_df, calendar_df, sell_prices_df):
    sell_prices_df['id'] = sell_prices_df['item_id'].astype('str')+'_'+sell_prices_df['store_id']+'_validation'
    d_cols = train_df.columns[train_df.columns.str.startswith('d_')].values.tolist()
    
    event_type_1 = pd.get_dummies(calendar_df.event_type_1)
    event_type_1.columns = [f'{col}_event_type_1' for col in event_type_1.columns]
    event_type_2 = pd.get_dummies(calendar_df.event_type_1)
    event_type_2.columns = [f'{col}_event_type_2' for col in event_type_2.columns]
    calendar_data = pd.concat([
        calendar_df.drop(columns=['event_name_1', 'event_type_1', 'event_name_2', 'event_type_2'])[['wday', 'd','month','year', 
                                                                                                    'snap_CA', 'snap_TX', 'snap_WI']],
        event_type_1,
        event_type_2
    ], axis=1)
    calendar_data = calendar_data.set_index('d').T
    
    
    
    sell_prices_data = sell_prices_df[sell_prices_df.wm_yr_wk.isin(calendar_df.wm_yr_wk.unique())]
    sell_prices_data.reset_index(drop=True, inplace=True)
    tmp = sell_prices_data.groupby(['id'])[['wm_yr_wk', 'sell_price']].apply(lambda x: x.set_index('wm_yr_wk')['sell_price'].to_dict()).to_dict()
    d = calendar_df.d
    wm_yr_wk = calendar_df.wm_yr_wk
    price_data = {}
    for col in tqdm(train_df.id.unique()):
        price_data[col] = wm_yr_wk.map(tmp[col])
    price_data = pd.DataFrame(price_data)
    price_data.index = d
    
    
    is_sell = price_data.notnull().astype(float).T
    price_data = price_data.fillna(0)
    
    train_df = train_df.T
    train_df.columns = train_df.loc['id', :].values
    train_df = train_df.T
    
    return train_df, calendar_df, calendar_data, price_data, is_sell

In [3]:
path = '/Users/kanoumotoharu/Downloads/m5-forecasting-accuracy/'
#path = '/Users/abcdm/Downloads/m5-forecasting-accuracy/'
#path = '../input/m5-forecasting-accuracy/'

In [4]:
%%time
train_df = pd.read_csv(path+'sales_train_validation.csv')
calendar_df = pd.read_csv(path+'calendar.csv')
sell_prices_df = pd.read_csv(path+'sell_prices.csv')
sample_submission_df = pd.read_csv(path+'sample_submission.csv')

CPU times: user 12.6 s, sys: 1.28 s, total: 13.8 s
Wall time: 14.1 s

In [5]:
df, calendar_df, calendar_data, price_data, is_sell = preprocessing(train_df, calendar_df, sell_prices_df)
df, calendar_data, is_sell = df.T, calendar_data.T,  is_sell.T
train_df.index = train_df.id

HBox(children=(IntProgress(value=0, max=30490), HTML(value='')))

In [6]:
calendar_data.head()

,wday,month,year,snap_CA,snap_TX,snap_WI,Cultural_event_type_1,National_event_type_1,Religious_event_type_1,Sporting_event_type_1,Cultural_event_type_2,National_event_type_2,Religious_event_type_2,Sporting_event_type_2
d,,,,,,,,,,,,,,
d_1,1,1,2011,0,0,0,0,0,0,0,0,0,0,0
d_2,2,1,2011,0,0,0,0,0,0,0,0,0,0,0
d_3,3,1,2011,0,0,0,0,0,0,0,0,0,0,0
d_4,4,2,2011,1,1,0,0,0,0,0,0,0,0,0
d_5,5,2,2011,1,0,1,0,0,0,0,0,0,0,0

In [7]:
is_sell.head()

,HOBBIES_1_001_CA_1_validation,HOBBIES_1_002_CA_1_validation,HOBBIES_1_003_CA_1_validation,HOBBIES_1_004_CA_1_validation,HOBBIES_1_005_CA_1_validation,HOBBIES_1_006_CA_1_validation,HOBBIES_1_007_CA_1_validation,HOBBIES_1_008_CA_1_validation,HOBBIES_1_009_CA_1_validation,HOBBIES_1_010_CA_1_validation,...,FOODS_3_818_WI_3_validation,FOODS_3_819_WI_3_validation,FOODS_3_820_WI_3_validation,FOODS_3_821_WI_3_validation,FOODS_3_822_WI_3_validation,FOODS_3_823_WI_3_validation,FOODS_3_824_WI_3_validation,FOODS_3_825_WI_3_validation,FOODS_3_826_WI_3_validation,FOODS_3_827_WI_3_validation
d,,,,,,,,,,,,,,,,,,,,,
d_1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0
d_2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0
d_3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0
d_4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0
d_5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0

In [8]:
price_data.head()

,HOBBIES_1_001_CA_1_validation,HOBBIES_1_002_CA_1_validation,HOBBIES_1_003_CA_1_validation,HOBBIES_1_004_CA_1_validation,HOBBIES_1_005_CA_1_validation,HOBBIES_1_006_CA_1_validation,HOBBIES_1_007_CA_1_validation,HOBBIES_1_008_CA_1_validation,HOBBIES_1_009_CA_1_validation,HOBBIES_1_010_CA_1_validation,...,FOODS_3_818_WI_3_validation,FOODS_3_819_WI_3_validation,FOODS_3_820_WI_3_validation,FOODS_3_821_WI_3_validation,FOODS_3_822_WI_3_validation,FOODS_3_823_WI_3_validation,FOODS_3_824_WI_3_validation,FOODS_3_825_WI_3_validation,FOODS_3_826_WI_3_validation,FOODS_3_827_WI_3_validation
d,,,,,,,,,,,,,,,,,,,,,
d_1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.46,1.56,3.17,...,0.0,1.98,1.57,0.0,3.98,2.5,2.47,4.0,0.0,0.0
d_2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.46,1.56,3.17,...,0.0,1.98,1.57,0.0,3.98,2.5,2.47,4.0,0.0,0.0
d_3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.46,1.56,3.17,...,0.0,1.98,1.57,0.0,3.98,2.5,2.47,4.0,0.0,0.0
d_4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.46,1.56,3.17,...,0.0,1.98,1.57,0.0,3.98,2.5,2.47,4.0,0.0,0.0
d_5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.46,1.56,3.17,...,0.0,1.98,1.57,0.0,3.98,2.5,2.47,4.0,0.0,0.0

In [9]:
gc.collect()

0

In [10]:
def make_rolling_sell(df, win, agg):
    tmp = df.rolling(win).agg(agg).stack().reset_index()
    return tmp

In [11]:
def merge(a,b):
    return pd.merge(a,b,on=['d', 'id'])

In [12]:
d_cols = train_df.columns[train_df.columns.str.startswith('d_')].values.tolist()
cols = d_cols[1700:1800]
dt = df.loc[cols]

#shift 1day to prevent leakage
dt = dt.shift(1)

In [13]:
data = dt.stack().reset_index()
data = data[['level_0', 'level_1']]
data.columns=['d', 'id']

In [14]:
for win in tqdm([7, 14, 21, 28]):
    rolling = dt.rolling(win)
    for agg in ['mean', 'std', 'skew']:
        tmp = rolling.agg(agg).stack().reset_index()
        tmp.columns = ['d', 'id', f'roll_{win}_{agg}']
        data = merge(data, tmp)

HBox(children=(IntProgress(value=0, max=4), HTML(value='')))

In [15]:
data.shape

(1675519, 14)

In [16]:
group_ids = (
    ['cat_id'], ['dept_id'], ['state_id', 'cat_id'], ['state_id', 'dept_id'],
    ['store_id', 'cat_id'], ['store_id', 'dept_id'], ['item_id'], ['item_id', 'state_id']
)
for group_id in tqdm(group_ids):
    tmp = train_df[cols]/train_df.groupby(group_id)[cols].transform('mean')
    #shift 1day to prevent leakage
    tmp = tmp.T.shift(1)
    
    tmp1 = tmp.stack().reset_index()
    name =str(group_id[0]) if len(group_id)==1 else str(group_id[0])+'_'+str(group_id[1])
    tmp1.columns=['d', 'id', name]
    data = merge(data, tmp1)
    
    for win in [7, 14, 21, 28]:
        rolling = tmp.rolling(win)
        for agg in ['mean', 'std', 'skew']:
            tmp2 = rolling.agg(agg).stack().reset_index()
            tmp2.columns = ['d', 'id', f'{name}_roll_{win}_{agg}']
            data = merge(data, tmp2)

HBox(children=(IntProgress(value=0, max=8), HTML(value='')))

In [17]:
data.shape

(385342, 118)

In [18]:
tmp = is_sell.loc[cols].stack().reset_index()
tmp.columns = ['d', 'id', 'is_sell']
data = merge(data, tmp)

In [19]:
price_data = price_data.T
price_data= pd.concat([
    train_df[['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id']], price_data
], axis=1)
tmp_price_data= price_data[['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id']+cols]
tmp_price_data[cols] = tmp_price_data[cols].astype(float)
tmp_price_data.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d_1701,d_1702,d_1703,d_1704,...,d_1791,d_1792,d_1793,d_1794,d_1795,d_1796,d_1797,d_1798,d_1799,d_1800
id,,,,,,,,,,,,,,,,,,,,,
HOBBIES_1_001_CA_1_validation,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,8.26,8.26,8.26,8.26,...,8.26,8.26,8.26,8.26,8.26,8.26,8.26,8.26,8.26,8.26
HOBBIES_1_002_CA_1_validation,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,3.97,3.97,3.97,3.97,...,3.97,3.97,3.97,3.97,3.97,3.97,3.97,3.97,3.97,3.97
HOBBIES_1_003_CA_1_validation,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,2.97,2.97,2.97,2.97,...,2.97,2.97,2.97,2.97,2.97,2.97,2.97,2.97,2.97,2.97
HOBBIES_1_004_CA_1_validation,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,4.64,4.64,4.64,4.64,...,4.64,4.64,4.64,4.64,4.64,4.64,4.64,4.64,4.64,4.64
HOBBIES_1_005_CA_1_validation,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,2.88,2.88,2.88,2.88,...,2.88,2.88,2.88,2.88,2.88,2.88,2.88,2.88,2.88,2.88

In [20]:
group_ids = (
    ['store_id', 'cat_id'], ['store_id', 'dept_id'], ['item_id'], ['item_id', 'state_id']
)

for group_id in tqdm(group_ids):
    tmp = tmp_price_data[cols]/tmp_price_data.groupby(group_id)[cols].transform('mean')
    
    tmp1 = tmp.stack().reset_index()
    name =str(group_id[0]) if len(group_id)==1 else str(group_id[0])+'_'+str(group_id[1])
    name = 'price'+'_'+name
    tmp1.columns=['id', 'd', name]
    data = merge(data, tmp1)

HBox(children=(IntProgress(value=0, max=4), HTML(value='')))

In [21]:
calendar_cols = [
    'wday', 'month', 'year', 'Cultural_event_type_1', 'National_event_type_1', 'Religious_event_type_1', 'Sporting_event_type_1',
    'Cultural_event_type_2', 'National_event_type_2', 'Religious_event_type_2', 'Sporting_event_type_2'
]
calendar_dict = calendar_data.loc[cols].to_dict()
for col in calendar_cols:
    data[col] = data['d'].map(calendar_dict[col])
    
data['Snap'] = 0

data.loc[data.id.str.contains('CA'),'Snap']=data.loc[data.id.str.contains('CA'),'d'].map(calendar_dict['snap_CA'])
data.loc[data.id.str.contains('TX'),'Snap']=data.loc[data.id.str.contains('TX'),'d'].map(calendar_dict['snap_TX'])
data.loc[data.id.str.contains('WI'),'Snap']=data.loc[data.id.str.contains('WI'),'d'].map(calendar_dict['snap_WI'])

In [22]:
print(data.shape)
data.head()

(385342, 135)

,d,id,roll_7_mean,roll_7_std,roll_7_skew,roll_14_mean,roll_14_std,roll_14_skew,roll_21_mean,roll_21_std,...,year,Cultural_event_type_1,National_event_type_1,Religious_event_type_1,Sporting_event_type_1,Cultural_event_type_2,National_event_type_2,Religious_event_type_2,Sporting_event_type_2,Snap
0,d_1729,HOBBIES_1_004_CA_1_validation,2.285714,2.497618,1.254325,1.857143,1.955550,1.456215,1.904762,1.841325,...,2015,0,0,0,0,0,0,0,0,0
1,d_1729,HOBBIES_1_005_CA_1_validation,0.714286,0.755929,0.595294,1.142857,1.099450,1.298169,1.238095,0.995227,...,2015,0,0,0,0,0,0,0,0,0
2,d_1729,HOBBIES_1_008_CA_1_validation,18.428571,15.956787,0.614058,12.000000,12.943665,1.607269,12.571429,14.232257,...,2015,0,0,0,0,0,0,0,0,0
3,d_1729,HOBBIES_1_015_CA_1_validation,3.857143,2.734262,1.304046,3.928571,3.626066,1.027062,5.047619,5.277084,...,2015,0,0,0,0,0,0,0,0,0
4,d_1729,HOBBIES_1_016_CA_1_validation,6.714286,5.437962,0.479186,8.785714,6.670008,0.233155,7.285714,6.083937,...,2015,0,0,0,0,0,0,0,0,0

In [26]:
dt = df.loc[cols]
y = dt.stack().reset_index()
y.columns=['d', 'id', 'y_1']

In [28]:
data = merge(data, y)
for i in range(1,28):
    dt = df.loc[cols].shift(-i)
    y = dt.stack().reset_index()
    y.columns=['d', 'id', f'y_{i+1}']
    data = merge(data, y)

In [36]:
data.shape

(273484, 163)